html * {
    font-family: 'Menlo', sans-serif;
    font-size: 1.5rem;
}

p {
    margin: 0;
    padding: 0;
}

/* body {
    position: relative;
} */

#littledude {
    position: absolute;
    left: 0%;
    margin-right: 0%;
    text-align: center;
}

#aspectMenu {
    width: 30%;
}

#littleDudeSpace {
    width: 40%;
}

#actionMenu {
    width: 30%;
}

#speedRange {
    direction: rtl
}

.column {
    position: relative;
    float: left;
    width: 33.33%;
}

.div {
    width: 30%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}