html * {
    font-family: 'Menlo', sans-serif;
    font-size: 1em;
}

p {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}

#littledude {
    position: absolute;
    left: 45%;
    margin-right: -50%;
    text-align: center;
}
